* {
    font-family: 'Akaya Telivigala';
}

h1 {
    font-family: 'Akaya Telivigala';
}

.img:hover {
    transform: scale(1.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.icon-family {
    font-family: 'Material Icons';
}

.display-flex {
    display: flex;
    flex-direction: column;
}

.flex1 {
    flex: 1
}

.flex3 {
    flex: 3;
}

.remove {
    box-shadow: 0px 0px 0px 0px !important;
}

.padd{
    padding-left: 8%;
    padding-top: 8%;
}

mat-card{
    background-color: #f8f8f8;
}

.adjust {
    position: relative;
    bottom: 7px;
}

.m-15{
    margin-left: 15%;
}

table {
    width: 100%;
}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
}

.example-element-description {
    padding: 16px;
}

.example-element-description-attribution {
    opacity: 0.5;
}