<nav-bar [buttons]="navButton" [route]="'cart'" [badge]="badge"></nav-bar>
<div class="container h100">
  <div class="m-auto pt-5">
    <h1 class="text-center">{{ title }}</h1>
    <table
      *ngIf="productData?.products?.length"
      class="table table-striped shadow-lg"
      color="warn"
    >
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Rating</th>
          <th>Images</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of productData.products; let index = index">
          <td>{{ i.id }}</td>
          <td>{{ i.name }}</td>
          <td>{{ i.price | currency : "INR" }}</td>
          <td>
            <div class="div">
              <button
                mat-mini-fab
                color="white"
                class="remove"
                (click)="remove(i.id)"
              >
                <mat-icon class="icon-family">remove</mat-icon>
              </button>
              <span class="adjust">{{ productData.quantity[index] }}</span>
              <button
                mat-mini-fab
                color="white"
                class="remove"
                (click)="add(i.id)"
              >
                <mat-icon class="icon-family">add</mat-icon>
              </button>
            </div>
          </td>
          <td>
            <app-star [rating]="i.rating"></app-star>
          </td>
          <td>
            <img
              src="{{ i.image }}"
              alt=""
              width="30%"
              height="50px"
              matTooltip="this is a {{ i.category }} product"
            />
            <!-- matTooltip = "{{i.category == category.electronic ? 'this is a {{i.category}} product' : 'this is an {{i.category}} product'}}" -->
          </td>
        </tr>
      </tbody>
    </table>
    <mat-card *ngIf="!productData.products.length">
      <mat-card-header>
        <mat-card-title>Looks like your cart is empty</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="d-flex">
          <div class="flex1 padd">
            Please keep on continue shopping and check back later.
          </div>
          <div class="flex1 m-15">
            <img src="../../../assets/images/e-cart.webp" alt="" width="70%">
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions class="justify-content-center">
        <button mat-raised-button [routerLink]="''">Continue Shopping</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div *ngIf="productData?.products?.length" class="m-auto pt-2">
    <button
      mat-raised-button
      color="warn"
      class="m-3"
      *ngIf="check"
      (click)="checkout()"
    >
      CheckOut
    </button>
    <router-outlet></router-outlet>
  </div>
</div>
