.cursor {
    cursor: pointer;
}

.color {
    background-color: #f44336
}

.spacer {
    flex: 1 1 auto;
}

* {
    font-family: 'Akaya Telivigala';
}

.icon-family{
    font-family: 'Material Icons';
}

.mh {
    min-height: 91.8vh;
    width: 100%;
}

.mxh {
    height: 98%;
    width: 100%;
}