<!-- Nav Bar Component Starts -->
<nav-bar [buttons]="navButton" [route]="'product'"></nav-bar>
<!-- Nav Bar Component Ends -->

<div class="color py-3 mh">
  <mat-card class="m-auto w-75 mb-3 shadow-lg">
    <mat-card-header class="mb-2">
      <mat-card-subtitle>Today's top sales</mat-card-subtitle>
      <span class="spacer"></span>
      <!-- Add Product function will be only available to the admin -->
      <button mat-flat-button *ngIf="role == 'Admin'" (click)="addProduct()">Add Product</button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="mt-2">
      <mat-grid-list [cols]="4" rowHeight="260px">
        <mat-grid-tile
          [colspan]="1"
          [rowspan]="1"
          *ngFor="let i of this.products; let index = index"
        >
          <mat-card
            class="m-2 cursor mxh"
            (click)="details(i)"
            [@enlarge]="isHoveringState[index]"
            (mouseenter)="changeHover(index)"
            (mouseleave)="changeHover(index)"
          >
            <mat-card-content>
              <img [src]="i.image" alt="" height="120px" width="100%" />
              <p>{{ i.price | currency : "INR" }}</p>
              <p>{{ i.name }}</p>
              <p>
                <app-star [rating]="i.rating"></app-star>
              </p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>
