*{
    font-family: 'Akaya Telivigala';
}

.flex1 {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-family{
    font-family: 'Material Icons';
}