<mat-toolbar color="warn">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon class="icon"
      ><img src="../../../assets/images/icon_drawer.png" alt=""
    /></mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div>
    <button
      mat-flat-button
      [routerLink]="'/home'"
      [color]="this.route == 'home' ? 'accent' : 'warn'"
    >
      Home
    </button>
    <button
      mat-flat-button
      [color]="this.route == 'product' ? 'accent' : 'warn'"
      [matMenuTriggerFor]="products"
    >
      Products
    </button>
    <mat-menu #products="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="veges">Veges</button>
      <button mat-menu-item [matMenuTriggerFor]="electronics">
        Electronics
      </button>
      <button mat-menu-item [matMenuTriggerFor]="fruits">Fruits</button>
    </mat-menu>

    <mat-menu #fruits="matMenu">
      <button mat-menu-item [routerLink]="links[0]">
        Apples and Pears<img
          class="p-3"
          src="../../../assets/images/ap.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0]">
        Citrus<img
          class="p-3"
          src="../../../assets/images/citrus.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0]">
        Stone Fruit<img
          class="p-3"
          src="../../../assets/images/stone-fruit.webp"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0]">
        Tropical and Exotic<img
          class="p-3"
          src="../../../assets/images/tropicalE.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0]">
        Berries<img
          class="p-3"
          src="../../../assets/images/berries.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0]">
        Melons<img
          class="p-3"
          src="../../../assets/images/melons.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0]">
        Tomatoes<img
          class="p-3"
          src="../../../assets/images/tomato.png"
          alt=""
          height="50px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0]">
        Aavocados<img
          class="p-3"
          src="../../../assets/images/avacado.webp"
          alt=""
          height="50px"
        />
      </button>
    </mat-menu>
    <mat-menu #electronics="matMenu">
      <button mat-menu-item [routerLink]="links[2]">
        Smart Phones
        <img
          class="p-3"
          height="60px"
          src="../../../assets/images/RsmartPhone1.jpg"
          alt=""
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Smart Watches<img
          class="p-3"
          src="../../../assets/images/smartwatch.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Camera
        <img
          class="p-3"
          src="../../../assets/images/camera.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [matMenuTriggerFor]="households">
        Home Appliances
      </button>
    </mat-menu>

    <mat-menu #households="matMenu">
      <button mat-menu-item [routerLink]="links[2]">
        Vaccum Cleaners<img
          class="p-3"
          src="../../../assets/images/VC.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Grinders<img
          class="p-3"
          src="../../../assets/images/grinders.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Mixers<img
          class="p-3"
          src="../../../assets/images/mixers.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Choppers<img
          class="p-3"
          src="../../../assets/images/chopper.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Sewing Machines<img
          class="p-3"
          src="../../../assets/images/sw.png"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Water Heaters<img
          class="p-3"
          src="../../../assets/images/wh.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2]">
        Washers<img
          class="p-3"
          src="../../../assets/images/washers.png"
          alt=""
          height="60px"
        />
      </button>
    </mat-menu>

    <mat-menu #veges="matMenu">
      <button mat-menu-item [routerLink]="links[1]">
        Cruciferous
        <img
          class="p-3"
          src="../../../assets/images/cruciferous.webp"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1]">
        Leafy Green<img
          class="p-3"
          src="../../../assets/images/LeafyGreens.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1]">
        Allium<img
          class="p-3"
          src="../../../assets/images/alliums.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1]">
        Edible Plant Stem
        <img
          class="p-3"
          src="../../../assets/images/EPS.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1]">
        Root<img
          class="p-3"
          src="../../../assets/images/roots.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1]">
        Marrow<img
          class="p-3"
          src="../../../assets/images/marrow.jpg"
          alt=""
          height="60px"
        />
      </button>
    </mat-menu>
    <button
      mat-flat-button
      [routerLink]="'/shared/about-us'"
      [color]="this.route == 'about' ? 'accent' : 'warn'"
    >
      About Us
    </button>
    <button
      mat-flat-button
      [routerLink]="'/shared/contact-us'"
      [color]="this.route == 'contact' ? 'accent' : 'warn'"
    >
      Contact Us
    </button>
  </div>
  <span class="spacer"></span>
  <button
    mat-icon-button
    [color]="this.route == 'cart' ? 'accent' : ''"
    class="example-icon favorite-icon"
    [routerLink]="'/products/cart'"
  >
    <mat-icon [matBadge]="badge" matBadgeSize="small" matBadgeColor="accent"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    *ngIf="buttons"
    mat-flat-button
    color="warn"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="LogIn_Logout()"
  >
    <mat-icon>{{ buttons.toLowerCase() }}</mat-icon>
    {{ buttons }}
  </button>
</mat-toolbar>
