<mat-toolbar color="warn">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon class="icon"
      ><img src="../../../assets/images/icon_drawer.png" alt=""
    /></mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <div>
    <button
      mat-flat-button
      [routerLink]="'/home'"
      [color]="this.route == 'home' ? 'accent' : 'warn'"
    >
      Home
    </button>
    <button
      mat-flat-button
      [color]="this.route == 'product' ? 'accent' : 'warn'"
      [matMenuTriggerFor]="products"
    >
      Products
    </button>
    <mat-menu #products="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="veges" [routerLink]="links[1]">
        Veges
      </button>
      <button
        mat-menu-item
        [matMenuTriggerFor]="electronics"
        [routerLink]="links[2]"
      >
        Electronics
      </button>
      <button
        mat-menu-item
        [matMenuTriggerFor]="fruits"
        [routerLink]="links[0]"
      >
        Fruits
      </button>
    </mat-menu>

    <mat-menu #fruits="matMenu">
      <button mat-menu-item [routerLink]="links[0] + '-' + 'applePear'">
        Apples and Pears<img
          class="p-3"
          src="../../../assets/images/ap.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0] + '-' + 'citrus'">
        Citrus<img
          class="p-3"
          src="../../../assets/images/citrus.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0] + '-' + 'stoneFruit'">
        Stone Fruit<img
          class="p-3"
          src="../../../assets/images/stone-fruit.webp"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0] + '-' + 'tropicalExotic'">
        Tropical and Exotic<img
          class="p-3"
          src="../../../assets/images/tropicalE.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0] + '-' + 'berries'">
        Berries<img
          class="p-3"
          src="../../../assets/images/berries.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0] + '-' + 'melons'">
        Melons<img
          class="p-3"
          src="../../../assets/images/melons.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0] + '-' + 'tomatoesAvacados'">
        Tomatoes<img
          class="p-3"
          src="../../../assets/images/tomato.png"
          alt=""
          height="50px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[0] + '-' + 'tomatoesAvacados'">
        Aavocados<img
          class="p-3"
          src="../../../assets/images/avacado.webp"
          alt=""
          height="50px"
        />
      </button>
    </mat-menu>
    <mat-menu #electronics="matMenu">
      <button mat-menu-item [routerLink]="links[2] + '-' + 'smartPhone'">
        Smart Phones
        <img
          class="p-3"
          height="60px"
          src="../../../assets/images/RsmartPhone1.jpg"
          alt=""
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'smartWatch'">
        Smart Watches<img
          class="p-3"
          src="../../../assets/images/smartwatch.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'camera'">
        Camera
        <img
          class="p-3"
          src="../../../assets/images/camera.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button
        mat-menu-item
        [matMenuTriggerFor]="households"
        [routerLink]="links[2] + '-' + 'houseAppliances'"
      >
        Home Appliances
      </button>
    </mat-menu>

    <mat-menu #households="matMenu">
      <button mat-menu-item [routerLink]="links[2] + '-' + 'houseAppliances'">
        Vaccum Cleaners<img
          class="p-3"
          src="../../../assets/images/VC.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'houseAppliances'">
        Grinders<img
          class="p-3"
          src="../../../assets/images/grinders.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'houseAppliances'">
        Mixers<img
          class="p-3"
          src="../../../assets/images/mixers.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'houseAppliances'">
        Choppers<img
          class="p-3"
          src="../../../assets/images/chopper.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'houseAppliances'">
        Sewing Machines<img
          class="p-3"
          src="../../../assets/images/sw.png"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'houseAppliances'">
        Water Heaters<img
          class="p-3"
          src="../../../assets/images/wh.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[2] + '-' + 'houseAppliances'">
        Washers<img
          class="p-3"
          src="../../../assets/images/washers.png"
          alt=""
          height="60px"
        />
      </button>
    </mat-menu>

    <mat-menu #veges="matMenu">
      <button
        mat-menu-item
        [routerLink]="links[1] + '-' + 'cruciferous'"
        class="mat-menu-panel"
      >
        Cruciferous
        <img
          class="p-3"
          src="../../../assets/images/cruciferous.webp"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1] + '-' + 'leafyGreen'">
        Leafy Green<img
          class="p-3"
          src="../../../assets/images/LeafyGreens.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1] + '-' + 'allium'">
        Allium<img
          class="p-3"
          src="../../../assets/images/alliums.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1] + '-' + 'ediblePlantStem'">
        Edible Plant Stem
        <img
          class="p-3"
          src="../../../assets/images/EPS.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1] + '-' + 'root'">
        Root<img
          class="p-3"
          src="../../../assets/images/roots.jpg"
          alt=""
          height="60px"
        />
      </button>
      <button mat-menu-item [routerLink]="links[1] + '-' + 'marrow'">
        Marrow<img
          class="p-3"
          src="../../../assets/images/marrow.jpg"
          alt=""
          height="60px"
        />
      </button>
    </mat-menu>
    <button
      mat-flat-button
      [routerLink]="'/shared/about-us'"
      [color]="this.route == 'about' ? 'accent' : 'warn'"
    >
      About Us
    </button>
    <button
      mat-flat-button
      [routerLink]="'/shared/contact-us'"
      [color]="this.route == 'contact' ? 'accent' : 'warn'"
    >
      Contact Us
    </button>
  </div>
  <span class="spacer"></span>
  <button
    mat-icon-button
    [color]="this.route == 'cart' ? 'accent' : ''"
    class="icon-family"
    [routerLink]="'/products/cart'"
  >
    <mat-icon
      [matBadge]="badge"
      matBadgeSize="small"
      matBadgeColor="accent"
      class="icon-family"
      >shopping_cart</mat-icon
    >
  </button>
  <button
    mat-flat-button
    color="warn"
    class="loginLout"
    aria-label="Example icon-button with heart icon"
    (click)="LogIn_Logout()"
  >
    <mat-icon class="icon-family">{{ buttons.toLowerCase() }}</mat-icon>
    {{ buttons }}
  </button>
  <button
    mat-icon-button
    *ngIf="buttons == 'Logout'"
    [matMenuTriggerFor]="user"
  >
    <mat-icon>person_outline</mat-icon>
  </button>
  <mat-menu #user="matMenu">
    <button mat-menu-item>{{data}}</button>
    <button mat-menu-item>View Profile</button>
    <button mat-menu-item>Edit Profile</button>
    <button mat-menu-item>Settings</button>
  </mat-menu>
</mat-toolbar>
