<nav-bar [buttons]="navButton" [route]="'home'"></nav-bar>

<mat-card class="m-3 h-50 color">
  <mat-card-content class="h-100">
    <ngb-carousel
      class="h-100"
      [showNavigationIndicators]="false"
      [interval]="100000"
    >
      <ng-template ngbSlide class="h-100">
        <div class="picsum-img-wrapper h-100 d-flex">
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/shoes.jpeg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/Headphones.jpg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/glasses.png"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/smartwatch.jpg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
      <ng-template ngbSlide class="h-100">
        <div class="picsum-img-wrapper h-100 d-flex">
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/cosmetics.jpg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/glasses.png"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/shoes.jpeg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/smartphones.jpg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
      <ng-template ngbSlide class="h-100">
        <div class="picsum-img-wrapper h-100 d-flex">
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/cosmetics.jpg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/glasses.png"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/shoes.jpeg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
          <mat-card class="h-100 w-25 m-2">
            <mat-card-content class="h-100">
              <img
                src="../../assets/images/smartphones.jpg"
                class="h-image"
                alt="..."
              />
            </mat-card-content>
          </mat-card>
        </div>
      </ng-template>
    </ngb-carousel>
  </mat-card-content>
</mat-card>

<!-- <ul
  class="a-unordered-list a-nostyle a-horizontal feed-carousel-shelf"
  role="list"
>
  <li
    data-sgproduct='{"asin":"B09PDZD95V"}'
    class="feed-carousel-card"
    aria-posinset="1"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Boldfit-Adjustable-Strengthener-Equipment-Excercise/dp/B09PDZD95V/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Boldfit Adjustable Hand Grip Strengthener, Hand Gripper for Men &amp; Women for Gym Workout Hand Exercise Equipment to Use..."
          src="https://m.media-amazon.com/images/I/71PXHvmjz1L._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71PXHvmjz1L._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B000FI8ER8"}'
    class="feed-carousel-card"
    aria-posinset="2"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Yonex-Mavis-350-Shuttlecock-Yellow/dp/B000FI8ER8/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Yonex Mavis 350 Nylon Shuttlecock"
          src="https://m.media-amazon.com/images/I/71ohtjENEkL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71ohtjENEkL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B00ICCYF0E"}'
    class="feed-carousel-card"
    aria-posinset="3"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Nivia-Storm-Football-Size-White/dp/B00ICCYF0E/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Nivia Storm Football - Size 5"
          src="https://m.media-amazon.com/images/I/61RpRYFb2wL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/61RpRYFb2wL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B0B7599YRJ"}'
    class="feed-carousel-card"
    aria-posinset="4"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Boldfit-Women-Exercise-workout-Workout/dp/B0B7599YRJ/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Boldfit Yoga Mats For Women yoga mat for men Exercise mat for home workout yoga mat for women gym mat Anti Slip Yoga mat..."
          src="https://m.media-amazon.com/images/I/81feGML0NAL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/81feGML0NAL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B01IEVIVAC"}'
    class="feed-carousel-card"
    aria-posinset="5"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Yonex-Mavis-200i-Shuttle-Yellow/dp/B01IEVIVAC/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Yonex Mavis 200i Nylon Shuttle Cock, Pack of 6 (Yellow)"
          src="https://m.media-amazon.com/images/I/71y8qBTalZL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71y8qBTalZL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B0B5N956P2"}'
    class="feed-carousel-card"
    aria-posinset="6"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Boldfit-Polyvinyl-Chloride-Skipping-Adjustable/dp/B0B5N956P2/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Boldfit Skipping Rope for Men and Women Jumping Rope With Adjustable Height Speed Skipping Rope for Exercise, Gym,..."
          src="https://m.media-amazon.com/images/I/71l2-gWOnpL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71l2-gWOnpL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B08D6PCPP2"}'
    class="feed-carousel-card"
    aria-posinset="7"
    aria-hidden="false"
    role="listitem"
    aria-setsize="30"
    style="display: inline-block"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/VIFITKIT-Exercise-Workout-Flooring-Bottle/dp/B08D6PCPP2/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Vifitkit 4mm Anti-Skid EVA+TPE Yoga Mat with Carry Bag for Home Gym &amp; Outdoor Workout for Men &amp; Women, Water-Resistant,..."
          src="https://m.media-amazon.com/images/I/51zC8UjgTwL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/51zC8UjgTwL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B08XZ8KY5C"}'
    class="feed-carousel-card"
    aria-posinset="8"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Strauss-Adjustable-Strengthener-Counter-Meter/dp/B08XZ8KY5C/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Strauss Adjustable Hand Grip with Counter, Black"
          src="https://m.media-amazon.com/images/I/61aP588NknS._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/61aP588NknS._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B0BFCSY51S"}'
    class="feed-carousel-card"
    aria-posinset="9"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/SPEEDEX-Stainless-Thunder-Outdoor-Dual-Pink-Blue/dp/B0BFCSY51S/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="SPEEDEX Stainless Steel 1000 ML Water Bottle/Thunder for Fridge/School/Outdoor/Gym/Home/Office/Boys/Girls/Kids, Leak..."
          src="https://m.media-amazon.com/images/I/513-r00muEL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/513-r00muEL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B0BLK1F584"}'
    class="feed-carousel-card"
    aria-posinset="10"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Boldfit-Winter-Clothing-Mufflers-Clothes/dp/B0BLK1F584/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Boldfit Winter Wear for Women Winter Cap for Men Woolen Cap for Men Beanie Cap for Men Winter Gloves for Men Winter..."
          src="https://m.media-amazon.com/images/I/71PgXiVK43L._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71PgXiVK43L._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B07VNXQY44"}'
    class="feed-carousel-card"
    aria-posinset="11"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Gajraj-Winter-Knitted-Woolen-Skull/dp/B07VNXQY44/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Gajraj Unisex-adult Wool Skull Cap (Pack of 1)"
          src="https://m.media-amazon.com/images/I/51n+tlJc-cL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/51n+tlJc-cL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B08DS5SC8H"}'
    class="feed-carousel-card"
    aria-posinset="12"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Kore-20-KG-PVC-DM-Dumbbells/dp/B08DS5SC8H/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Kore PVC DM 4-40 Kg (Black/Black-Red/3 IN 1 Convertible) Dumbbells Set and Fitness Kit for Men and Women Whole Body Workout"
          src="https://m.media-amazon.com/images/I/71bVjdpp+NL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71bVjdpp+NL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B095Z11T86"}'
    class="feed-carousel-card"
    aria-posinset="13"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Yonex-Aluminium-Blend-Badminton-Racquet/dp/B095Z11T86/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Yonex GR 303 Aluminium Blend Badminton Racquet with Full Cover, Set of 2"
          src="https://m.media-amazon.com/images/I/71357Tvw0NS._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71357Tvw0NS._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B06Y46SMTD"}'
    class="feed-carousel-card"
    aria-posinset="14"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Xtrim-Leather-Workout-Gloves-Black/dp/B06Y46SMTD/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="XTRIM Macho X Unisex Leather Gym Gloves for Professional Weightlifting, Fitness Training and Workout | with Half-Finger..."
          src="https://m.media-amazon.com/images/I/81iZzKTg3RL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/81iZzKTg3RL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B09YDLBS5D"}'
    class="feed-carousel-card"
    aria-posinset="15"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/ElectroSky-Building-Exercise-Workout-Training/dp/B09YDLBS5D/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="ElectroSky Push Up Board System, 15 in 1 Body Building Exercise Tools Workout Push Up Stands, Push Up Workout Board..."
          src="https://m.media-amazon.com/images/I/710UXZQYZSL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/710UXZQYZSL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B09YJ5BRSW"}'
    class="feed-carousel-card"
    aria-posinset="16"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Lifelong-LLYM93-Women-Material-Workout/dp/B09YJ5BRSW/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Lifelong Yoga mat for Women &amp; Men EVA Material 4mm-10mm Anti-Slip Yoga Mat for Gym Workout|Exercise Mat For Home..."
          src="https://m.media-amazon.com/images/I/6167z4NqujL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/6167z4NqujL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B08D8J5BVR"}'
    class="feed-carousel-card"
    aria-posinset="17"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Boldfit-Resistance-Band-Exercise-Stretching/dp/B08D8J5BVR/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Boldfit Heavy Resistance Band for Workout Set Exercise &amp; Stretching Pull Up Bands for Home Exercise Bands for Gym Men &amp;..."
          src="https://m.media-amazon.com/images/I/51HZ1xl03VS._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/51HZ1xl03VS._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B0B8RR5VQF"}'
    class="feed-carousel-card"
    aria-posinset="18"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Boldfit-Wrist-Supporter-Women-Straps/dp/B0B8RR5VQF/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Boldfit Wrist Supporter for Gym Wrist Band for Men Gym &amp; Women with Thumb Loop Straps - Wrist Wrap Gym Accessories for..."
          src="https://m.media-amazon.com/images/I/71efZuOyE2L._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71efZuOyE2L._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B01LP0UX9G"}'
    class="feed-carousel-card"
    aria-posinset="19"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/AmazonBasics-Extra-Thick-Exercise-Carrying/dp/B01LP0UX9G/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Amazon Basics 13mm Extra Thick NBR Yoga and Exercise Mat with Carrying Strap, Pink"
          src="https://m.media-amazon.com/images/I/815LBRhttYL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/815LBRhttYL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B098MH43LQ"}'
    class="feed-carousel-card"
    aria-posinset="20"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Kore-DM-2kg-Combo-Dumbbells-Fitness-Workout/dp/B098MH43LQ/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Kore PVC DM-2kg-Combo 161 Fixed Dumbbells Set and Fitness Kit for Men and Women Whole Body Workout (Hexa Black)"
          src="https://m.media-amazon.com/images/I/713zoEM3wlL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/713zoEM3wlL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B096VF5YYF"}'
    class="feed-carousel-card"
    aria-posinset="21"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/boAt-Smartwatch-Multiple-Monitoring-Resistance/dp/B096VF5YYF/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="boAt Xtend Smartwatch with Alexa Built-in, 1.69” HD Display, Multiple Watch Faces, Stress Monitor, Heart &amp; SpO2..."
          src="https://m.media-amazon.com/images/I/61IMRs+o0iL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/61IMRs+o0iL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B07P5FNNBR"}'
    class="feed-carousel-card"
    aria-posinset="22"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Aurion-Super-Belt-Medium-Leather-Lifting-Support/dp/B07P5FNNBR/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Aurion Best Super Weight Lifting Belt (Medium, Black, Pack of 1) for Men and Women | Body Fitness Gym Back Support..."
          src="https://m.media-amazon.com/images/I/81ADWunLvuL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/81ADWunLvuL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B08B22WSP7"}'
    class="feed-carousel-card"
    aria-posinset="23"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/FitBox-Sports-Intruder-Dumbbells-Weights/dp/B08B22WSP7/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="FitBox Sports Intruder 20 Kg Adjustable PVC Dumbbells Weights With Dumbbells Rods For Home Gym &amp; Strength Training, 10..."
          src="https://m.media-amazon.com/images/I/517FvNN-33L._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/517FvNN-33L._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B0BR58KWMG"}'
    class="feed-carousel-card"
    aria-posinset="24"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/FEGSY-Winter-Beanie-Knitted-Muffler/dp/B0BR58KWMG/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="FEGSY Winter Beanie Cap for Men, and Women Wool Knitted Hat with Neck Warmer Scarf Muffler"
          src="https://m.media-amazon.com/images/I/71n0Ebl1xqL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/71n0Ebl1xqL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B07JNKTPZ3"}'
    class="feed-carousel-card"
    aria-posinset="25"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Yonex-GR-303-Aluminum-Badminton/dp/B07JNKTPZ3/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Yonex GR 303 Aluminium Blend Badminton Racquet with Full Cover"
          src="https://m.media-amazon.com/images/I/715sckxhAHL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/715sckxhAHL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B00ICCYIRO"}'
    class="feed-carousel-card"
    aria-posinset="26"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Nivia-Ball-Pump-Double-Action/dp/B00ICCYIRO/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Nivia Ball Pump Double Action - BP - 213"
          src="https://m.media-amazon.com/images/I/614iYYgpIbL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/614iYYgpIbL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B00UJHTJNS"}'
    class="feed-carousel-card"
    aria-posinset="27"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Aurion-PVC1-Plastic-Dumbell-Multicolour/dp/B00UJHTJNS/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Aurion PVC Dumbbells - Blue (1Kg x 2), (Set of Two) | Premium Hand Weight Dumbbell | Exercise and Fitness Training..."
          src="https://m.media-amazon.com/images/I/61BHd-i819L._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/61BHd-i819L._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B09QQPX97K"}'
    class="feed-carousel-card"
    aria-posinset="28"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Boldfit-Shapewear-Exercise-Workout-Small-Medium/dp/B09QQPX97K/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Boldfit Tummy Shaper for Women &amp; Men Sweat Slim Belt Tummy Belt Shapewear for Belly. Body Shaper Belt for Stomach..."
          src="https://m.media-amazon.com/images/I/81XrxaWO7GL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/81XrxaWO7GL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B09W5QC73Y"}'
    class="feed-carousel-card"
    aria-posinset="29"
    aria-hidden="false"
    role="listitem"
    style="display: inline-block"
    aria-setsize="30"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Lifelong-Dumbbells-Equipment-Exercise-Warranty/dp/B09W5QC73Y/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Lifelong PVC Hex Dumbbells Pack of 2 (2kg-10kg) for Home Gym Equipment Fitness Barbell|Gym Exercise|Home Workout, Gym..."
          src="https://m.media-amazon.com/images/I/61Eq88ACOkL._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/61Eq88ACOkL._AC_SY400_.jpg" /></a
    ></span>
  </li>
  <li
    data-sgproduct='{"asin":"B089DF1PXS"}'
    class="feed-carousel-card"
    aria-posinset="30"
    aria-hidden="false"
    role="listitem"
    aria-setsize="30"
    style="display: inline-block"
  >
    <span class="a-list-item"
      ><a
        class="a-link-normal"
        href="/Kore-PVC-Home-Gym-Accessories/dp/B089DF1PXS/?_encoding=UTF8&amp;pd_rd_w=dBEXJ&amp;content-id=amzn1.sym.211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_p=211684f4-ebe1-443f-8a4a-0773471e979f&amp;pf_rd_r=M25HEM26HV60D6ZGWZ9M&amp;pd_rd_wg=1xGvO&amp;pd_rd_r=cfd19c6d-5ad5-4d2a-9633-8958d077f8b3&amp;ref_=pd_gw_crs_zg_bs_1984443031"
        ><img
          alt="Kore PVC 10-40 Kg Home Gym Set with One 3 Ft Curl and One Pair Dumbbell Rods with Gym Accessories"
          src="https://m.media-amazon.com/images/I/81XNzjmXi+L._AC_SY200_.jpg"
          class="product-image"
          height="200px"
          data-a-hires="https://m.media-amazon.com/images/I/81XNzjmXi+L._AC_SY400_.jpg" /></a
    ></span>
  </li>
</ul> -->
