.h-image {
    height: 185px !important;
    width: 100%;
}

.color {
    background-color: #f44336
}

* {
    font-family: 'Akaya Telivigala';
}

// ::ng-deep .carousel-item {
//     display: block !important;
//     position: absolute;
//     transform: translateY(100%);
//     opacity: 0;
//     transition:all  1s;
//   }
  
//   ::ng-deep .carousel-item.active {
//     position: relative;
//     transform: translateY(0);
//     opacity: 1;
//     top: 0;
//   }