.h-image {
    cursor: pointer;
    height: 185px !important;
    width: 100%;
}

.color {
    background-color: #f44336
}

* {
    font-family: 'Akaya Telivigala';
}

.img {
    min-height: 88.8vh;
    background: linear-gradient(145deg, #bb8680, #ffffff, #dac6c7);
}